<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\UiComponents\Api\Data\BookmarkRepositoryInterface"
                type="Aheadworks\UiComponents\Model\ResourceModel\BookmarkRepository"/>
    <preference for="Aheadworks\UiComponents\Api\Data\BookmarkManagementInterface"
                type="Aheadworks\UiComponents\Model\BookmarkManagement"/>
    <preference for="Aheadworks\UiComponents\Model\Export\Options\ConfigProcessorInterface"
                type="Aheadworks\UiComponents\Model\Export\Options\ConfigProcessor"/>

    <type name="Aheadworks\UiComponents\Controller\Bookmark\Save">
        <arguments>
            <argument name="bookmarkRepository" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkRepositoryInterface</argument>
            <argument name="bookmarkManagement" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkManagementInterface</argument>
        </arguments>
    </type>

    <type name="Aheadworks\UiComponents\Controller\Bookmark\Delete">
        <arguments>
            <argument name="bookmarkRepository" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkRepositoryInterface</argument>
            <argument name="bookmarkManagement" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkManagementInterface</argument>
        </arguments>
    </type>

    <type name="Aheadworks\UiComponents\Model\Export\Options\Processor\DefaultProcessor">
        <arguments>
            <argument name="pathes" xsi:type="array">
                <item name="csv" xsi:type="string">aw_ui_components/export/gridToCsv</item>
                <item name="xml" xsi:type="string">aw_ui_components/export/gridToXml</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\UiComponents\Model\Export\Options\ConfigProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="default" xsi:type="object">Aheadworks\UiComponents\Model\Export\Options\Processor\DefaultProcessor</item>
            </argument>
        </arguments>
    </type>

    <!-- use this virtualType in bookmark class attribute -->
    <virtualType name="Aheadworks\UiComponents\Component\Bookmark" type="Magento\Ui\Component\Bookmark">
        <arguments>
            <argument name="bookmarkRepository" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkRepositoryInterface</argument>
            <argument name="bookmarkManagement" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkManagementInterface</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Model\ResourceModel\BookmarkRepository"
                 type="Magento\Ui\Model\ResourceModel\BookmarkRepository">
        <arguments>
            <argument name="bookmarkResourceModel" xsi:type="object">Aheadworks\UiComponents\Model\ResourceModel\Bookmark</argument>
            <argument name="bookmarkFactory" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkInterfaceFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Model\BookmarkManagement"
                 type="Magento\Ui\Model\BookmarkManagement">
        <arguments>
            <argument name="bookmarkRepository" xsi:type="object">Aheadworks\UiComponents\Api\Data\BookmarkRepositoryInterface</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Api\Data\BookmarkInterfaceFactory" type="Magento\Ui\Api\Data\BookmarkInterfaceFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Aheadworks\UiComponents\Model\Bookmark</argument>
        </arguments>
    </virtualType>
</config>
