<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aheadworks\UiComponents\Model\Component\MassAction\Filter">
        <arguments>
            <argument name="factory" xsi:type="object">Aheadworks\UiComponents\Export\View\Element\UiComponentFactory</argument>
        </arguments>
    </type>

    <type name="Aheadworks\UiComponents\Model\Export\ConvertToCsv">
        <arguments>
            <argument name="filter" xsi:type="object">Aheadworks\UiComponents\Model\Component\MassAction\Filter</argument>
        </arguments>
    </type>

    <type name="Aheadworks\UiComponents\Model\Export\ConvertToXml">
        <arguments>
            <argument name="filter" xsi:type="object">Aheadworks\UiComponents\Model\Component\MassAction\Filter</argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\UiComponents\Export\View\Element\UiComponentFactory" type="Magento\Framework\View\Element\UiComponentFactory">
        <arguments>
            <argument name="configFactory" xsi:type="object">uiComponentConfigExportFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="uiComponentConfigExportFactory" type="uiComponentConfigFactory">
        <arguments>
            <argument xsi:type="string" name="instanceName">Aheadworks\UiComponents\Config\DataExport</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Config\DataExport" type="Magento\Ui\Config\Data">
        <arguments>
            <argument name="readerFactory" xsi:type="object">Aheadworks\UiComponents\Model\Config\ReaderFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Config\Converter" type="Magento\Ui\Config\Converter">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Ui\Config\Reader\DefinitionMap</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Model\Config\ReaderFactory" type="Magento\Ui\Config\ReaderFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Aheadworks\UiComponents\Model\Config\Reader</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Config\Reader\DomFactory" type="Magento\Ui\Config\Reader\DomFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Aheadworks\UiComponents\Config\Reader\Dom</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Model\Config\Reader" type="Magento\Ui\Config\Reader">
        <arguments>
            <argument name="converter" xsi:type="object">Aheadworks\UiComponents\Config\Converter</argument>
            <argument name="readerDomFactory" xsi:type="object">Aheadworks\UiComponents\Config\Reader\DomFactory</argument>
            <argument name="definitionReader" xsi:type="object">Aheadworks\UiComponents\Config\Reader\Definition</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Config\Reader\Definition" type="Magento\Ui\Config\Reader\Definition">
        <arguments>
            <argument name="schemaLocator" xsi:type="object">Aheadworks\UiComponents\Model\Config\Reader\Definition\SchemaLocator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Config\Reader\Dom" type="Magento\Ui\Config\Reader\Dom">
        <arguments>
            <argument name="schemaLocator" xsi:type="object">Aheadworks\UiComponents\Model\Config\Reader\Dom\SchemaLocator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\UiComponents\Model\Config\Reader\Dom\SchemaLocator" type="Aheadworks\UiComponents\Model\Config\Reader\SchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">ui_configuration.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\UiComponents\Model\Config\Reader\Definition\SchemaLocator" type="Aheadworks\UiComponents\Model\Config\Reader\SchemaLocator">
        <arguments>
            <argument name="fileName" xsi:type="string">ui_definition.xsd</argument>
            <argument name="isSchema" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>
</config>
