<!--@subject {{trans 'User %user_name has been unassigned from %company_name' user_name=$user_name company_name=$company_name}}@-->
<!--@vars {
"var company_name": "Company Name",
"var company_admin_name": "Company Admin Name",
"var user_name": "Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p>
    {{trans 'Dear %company_admin_name,' company_admin_name=$company_admin_name}}<br />
    {{trans '<strong>%user_name</strong> was successfully unassigned from company <strong>%company_name</strong>.'
        user_name=$user_name company_name=$company_name
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
