<!--@subject {{trans 'You\'ve been removed from %company_name' company_name=$company_name}}@-->
<!--@vars {
"var company_name": "Company Name",
"var user_name": "Customer Name"
} @-->
{{template config_path="design/email/header_template"}}
<p>
    {{trans 'Dear %user_name,' user_name=$user_name}}<br />
    {{trans 'You were successfully unassigned from company <strong>%company_name</strong>.'
        company_name=$company_name
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
