<!--@subject {{trans 'Company domain was deleted'}}@-->
<!--@vars {
"var sales_representative_name": "Sales Representative Name",
"var domain": "Domain",
"var company": "Company"
} @-->
{{template config_path="design/email/header_template"}}

<p>
    {{trans 'Dear %sales_representative_name,' sales_representative_name=$sales_representative_name}}<br />
    {{trans
    'Domain <strong>%domain_name</strong> was deleted from Company <strong>%company_name</strong>'
    domain_name=$domain.getName() company_name=$company.getName()
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
