<!--@subject {{trans 'Company domain was assigned'}}@-->
<!--@vars {
"var company_admin_name": "Company Admin Name",
"var domain": "Domain",
"var company": "Company"
} @-->
{{template config_path="design/email/header_template"}}

<p>
    {{trans 'Dear %company_admin_name,' company_admin_name=$company_admin_name}}<br />
    {{trans
    'Domain <strong>%domain_name</strong> was successfully assigned to  company <strong>%company_name</strong> and set to status Active.'
    domain_name=$domain.getName() company_name=$company.getName()
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
