<!--@subject {{trans 'Company domain status was changed'}}@-->
<!--@vars {
"var company_admin_name": "Company Admin Name",
"var domain": "Domain",
"var previous_domain_status": "Previous Domain Status",
"var new_domain_status": "New Domain Status"
} @-->
{{template config_path="design/email/header_template"}}

<p>
    {{trans 'Dear %company_admin_name,' company_admin_name=$company_admin_name}}<br />
    {{trans
    'Status of the domain <strong>%domain_name</strong> was changed from <strong>%previous_domain_status</strong> to <strong>%new_domain_status</strong>.'
    domain_name=$domain.getName() previous_domain_status=$previous_domain_status new_domain_status=$new_domain_status
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
