<!--@subject {{trans 'Your order is %order_status' order_status=$order_status}}@-->
<!--@vars {
"var user_name": "Customer Name",
"var order_status": "Order Status",
"var order_url": "Order URL"
} @-->
{{template config_path="design/email/header_template"}}

<p>
    {{trans 'Dear %user_name,' user_name=$user_name}}<br />
    {{trans 'Your order has status <strong>%order_status</strong>.' order_status=$order_status|raw}}
</p>
<p>
    {{trans
        'Click <a href="%order_url">here</a> to view the order.'
        order_url=$order_url
    |raw}}
</p>

{{template config_path="design/email/footer_template"}}
