<div if="isTopTotalsVisible()" class="aw-cl__top-totals-list-wrap">
    <ul class="total-list">
        <fastForEach args="data: elems(), as: '$total'" >
            <li class="total-item" ifnot="$total.isMove" if="$total.isVisible($parent.topTotals)">
                <span class="title" text="$total.label"></span>:
                <div class="total_value">
                    <span class="total" text="$total.getValue($parent.topTotals)"></span>
                    <span if="$total.getConvertedValue($parent.topTotals)"
                          class="total" text="$total.getConvertedValue($parent.topTotals)"></span>
                </div>
            </li>
        </fastForEach>
        <br>
        <fastForEach args="data: elems(), as: '$total'" >
            <li class="total-item" if="$total.isMove" if="$total.isVisible($parent.topTotals)">
                <span class="title" text="$total.label"></span>:
                <div class="total_value">
                    <span class="total" text="$total.getValue($parent.topTotals)"></span>
                    <span if="$total.getConvertedValue($parent.topTotals)"
                          class="total" text="$total.getConvertedValue($parent.topTotals)"></span>
                </div>
            </li>
        </fastForEach>
    </ul>
</div>
