parameters:
	ignoreErrors:
		-
			message: "#^Class Aheadworks\\\\Ca\\\\Api\\\\SellerCompanyManagementInterface not found\\.$#"
			count: 1
			path: Model/ThirdPartyModule/Aheadworks/Ca/SellerCompanyManagementFactory.php

		-
			message: "#^Parameter \\$service of method Aheadworks\\\\Ctq\\\\Plugin\\\\Model\\\\Service\\\\SalesRepServicePlugin\\:\\:beforeAssignSalesRepToOrder\\(\\) has invalid type Aheadworks\\\\SalesRepresentative\\\\Model\\\\Service\\\\SalesRepService\\.$#"
			count: 1
			path: Plugin/Model/Service/SalesRepServicePlugin.php
