<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Customer\DataProvider">
        <plugin name="aw_cl_extend_data_provider" type="Aheadworks\CreditLimit\Plugin\Customer\Model\DataProviderPlugin"/>
    </type>
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="aw_cl_extend_data_provider" type="Aheadworks\CreditLimit\Plugin\Customer\Model\DataProviderPlugin"/>
    </type>
    <type name="Magento\Customer\Block\Adminhtml\Edit\Tab\View\PersonalInfo">
        <plugin name="aw_cl_extended_personal_info_tab" type="Aheadworks\CreditLimit\Plugin\Customer\Block\Adminhtml\PersonalInfoTabPlugin"/>
    </type>

    <type name="Aheadworks\CreditLimit\Block\Payment\Form">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Backend\Model\Session\Quote</argument>
        </arguments>
    </type>

    <type name="Aheadworks\CreditLimit\Model\Import\Processor\Composite">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="credit_update_customers" xsi:type="object">Aheadworks\CreditLimit\Model\Import\Processor\CreditCustomers</item>
                <item name="credit_update_companies" xsi:type="object">Aheadworks\CreditLimit\Model\Import\Processor\CreditCompanies</item>
            </argument>
            <argument name="defaultImportConfig" xsi:type="array">
                <item name="validation_strategy" xsi:type="string">validation-stop-on-errors</item>
                <item name="allowed_error_count" xsi:type="string">0</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\CreditLimit\Model\Import\Processor\CreditCustomers">
        <arguments>
            <argument name="configEntity" xsi:type="array">
                <item name="entities" xsi:type="array">
                    <item name="credit_update_customers" xsi:type="array">
                        <item name="name" xsi:type="string">credit_update_customers</item>
                        <item name="label" xsi:type="string">Credit Customers</item>
                        <item name="behaviorModel" xsi:type="string">Magento\ImportExport\Model\Source\Import\Behavior\Basic</item>
                        <item name="model" xsi:type="string">Aheadworks\CreditLimit\Model\Import\Source\CreditCustomers</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\CreditLimit\Model\Import\Source\CreditCustomers" type="Aheadworks\CreditLimit\Model\Import\Source\AbstractSourceEntity">
        <arguments>
            <argument name="dataProcessor" xsi:type="object">Aheadworks\CreditLimit\Import\CreditCustomersDataProcessor</argument>
            <argument name="entityCode" xsi:type="string">credit_update_customers</argument>
            <argument name="masterAttributeCode" xsi:type="string">customer_email</argument>
            <argument name="requiredColumnNames" xsi:type="array">
                <item name="1" xsi:type="string">customer_name</item>
                <item name="2" xsi:type="string">customer_email</item>
                <item name="3" xsi:type="string">currency</item>
                <item name="4" xsi:type="string">amount_to_add</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\CreditLimit\Import\CreditCustomersDataProcessor" type="Aheadworks\CreditLimit\Model\Data\Processor\Composite">
        <arguments>
            <argument name="processors" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\CreditLimit\Model\Import\Processor\CreditCompanies">
        <arguments>
            <argument name="configEntity" xsi:type="array">
                <item name="entities" xsi:type="array">
                    <item name="credit_update_companies" xsi:type="array">
                        <item name="name" xsi:type="string">credit_update_companies</item>
                        <item name="label" xsi:type="string">Credit Companies</item>
                        <item name="behaviorModel" xsi:type="string">Magento\ImportExport\Model\Source\Import\Behavior\Basic</item>
                        <item name="model" xsi:type="string">Aheadworks\CreditLimit\Model\Import\Source\CreditCompanies</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\CreditLimit\Model\Import\Source\CreditCompanies" type="Aheadworks\CreditLimit\Model\Import\Source\AbstractSourceEntity">
        <arguments>
            <argument name="dataProcessor" xsi:type="object">Aheadworks\CreditLimit\Import\CreditCompaniesDataProcessor</argument>
            <argument name="entityCode" xsi:type="string">credit_update_companies</argument>
            <argument name="masterAttributeCode" xsi:type="string">company_email</argument>
            <argument name="requiredColumnNames" xsi:type="array">
                <item name="1" xsi:type="string">company_name</item>
                <item name="2" xsi:type="string">company_email</item>
                <item name="3" xsi:type="string">currency</item>
                <item name="4" xsi:type="string">amount_to_add</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\CreditLimit\Import\CreditCompaniesDataProcessor" type="Aheadworks\CreditLimit\Model\Data\Processor\Composite">
        <arguments>
            <argument name="processors" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Ca\Controller\Adminhtml\Company\Save">
        <plugin name="aw_cl_company_save" type="Aheadworks\CreditLimit\Plugin\Company\Controller\Adminhtml\Company\SavePlugin"/>
    </type>
</config>
