<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aheadworks\Ca\Model\ResourceModel\Company\Grid\Collection">
        <arguments>
            <argument name="eventPrefix" xsi:type="string">aw_ca_comment_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">company_grid_collection</argument>
        </arguments>
    </type>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Company\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">awCaCompanyProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Role\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">awCaRoleProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Unit\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">awCaUnitProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Company\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="address_dictionaries" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Ca\Ui\DataProvider\Company\Form\Modifier\Address</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="administrator" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Ca\Ui\DataProvider\Company\Form\Modifier\Administrator</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="converter" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Ca\Ui\DataProvider\Company\Form\Modifier\ConvertToCompanyAdmin</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="credit_limit" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\CreditLimit\Ui\CreditLimitFormModifier</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Ca\Ui\DataProvider\Company\Listing\Modifier\AllowedPaymentMethods">
        <arguments>
            <argument name="optionSource" xsi:type="object">Aheadworks\Ca\Model\Source\Company\PaymentMethodList</argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Company\Listing\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="address_dictionaries" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Ca\Ui\DataProvider\Company\Listing\Modifier\AllowedPaymentMethods</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Ca\Model\Service\CompanyUserService">
        <arguments>
            <argument name="userContext" xsi:type="object">Aheadworks\Ca\Model\Authorization\Adminhtml\CompanyUserContext</argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Ui\Component\Listing\Order\Column\ActionProvider">
        <arguments>
            <argument name="actionProviders" xsi:type="array">
                <item name="view" xsi:type="array">
                    <item name="class" xsi:type="object">Aheadworks\Ca\Ui\Component\Listing\Order\Column\ActionsType\View</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                    <item name="actionName" xsi:type="string">view</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\Collection">
        <arguments>
            <argument name="replacePartsWhere" xsi:type="array">
                <item name="search" xsi:type="array">
                    <item name="0" xsi:type="string">`created_at`</item>
                </item>
                <item name="replace" xsi:type="array">
                    <item name="0" xsi:type="string">`main_table`.`created_at`</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\CustomerEntityCollection" type="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\Collection">
        <arguments>
            <argument name="relativeField" xsi:type="string">entity_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\CustomerCollection" type="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\Collection">
        <arguments>
            <argument name="relativeField" xsi:type="string">customer_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\EntityCollection" type="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\Collection">
        <arguments>
            <argument name="relativeField" xsi:type="string">entity_id</argument>
            <argument name="mainTable" xsi:type="string">e</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\AwCreditLimitCollection" type="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\EntityCollection">
        <arguments>
            <argument name="additionalCompanyUserColumns" xsi:type="array">
                <item name="aw_ca_is_admin" xsi:type="string">awca_company_user.is_root</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\AwNet30Collection" type="Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\CustomerCollection">
        <arguments>
            <argument name="mainTable" xsi:type="string">orders</argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\BaseCollectionPlugin">
        <arguments>
            <argument name="collection" xsi:type="object">Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\CustomerEntityCollection</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\CustomerCollectionPlugin">
        <arguments>
            <argument name="collection" xsi:type="object">Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\CustomerCollection</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\EntityCollectionPlugin">
        <arguments>
            <argument name="collection" xsi:type="object">Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\EntityCollection</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\AwCreditLimitCollectionPlugin">
        <arguments>
            <argument name="collection" xsi:type="object">Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\AwCreditLimitCollection</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\AwNet30CollectionPlugin">
        <arguments>
            <argument name="collection" xsi:type="object">Aheadworks\Ca\Model\ResourceModel\Company\Grid\ThirdParty\AwNet30Collection</argument>
        </arguments>
    </type>

    <type name="Aheadworks\SalesRepresentative\Plugin\Controller\Adminhtml\Customer\Index\ParamsProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="companyUser" xsi:type="object">Aheadworks\Ca\Model\Customer\ParamsProcessor\CompanyUser</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Model\ResourceModel\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\BaseCollectionPlugin"/>
    </type>
    <type name="Aheadworks\Ctq\Model\ResourceModel\Quote\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\CustomerCollectionPlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\CustomerCollectionPlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Customer\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\EntityCollectionPlugin"/>
    </type>
    <type name="Aheadworks\Ctq\Block\Adminhtml\Quote\Edit\CustomerSelection\Grid">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Plugin\CustomerSelectionGridPlugin"/>
    </type>
    <type name="Aheadworks\StoreCredit\Model\ResourceModel\Summary\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\BaseCollectionPlugin"/>
    </type>
    <type name="Aheadworks\StoreCredit\Model\ResourceModel\Transaction\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\CustomerCollectionPlugin"/>
    </type>
    <type name="Aheadworks\RewardPoints\Model\ResourceModel\PointsSummary\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\BaseCollectionPlugin"/>
    </type>
    <type name="Aheadworks\RewardPoints\Model\ResourceModel\Transaction\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\CustomerCollectionPlugin"/>
    </type>

    <type name="Aheadworks\CreditLimit\Model\ResourceModel\Customer\Grid\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\AwCreditLimitCollectionPlugin"/>
    </type>
    <type name="Aheadworks\CreditLimit\Ui\Component\Form\Customer\CreditLimitFieldset">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\CreditLimit\Plugin\Ui\CreditLimitFieldsetPlugin"/>
    </type>
    <type name="Aheadworks\Net30\Model\ResourceModel\Order\Collection">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ResourceModel\Grid\CompanyColumn\AwNet30CollectionPlugin"/>
    </type>
    <type name="Aheadworks\SalesRepresentative\Ui\Component\Form\Customer\SalesRepFieldset">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\SalesRepresentative\Plugin\Ui\SalesRepFieldsetPlugin"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Block\Adminhtml\Order\View\InfoPlugin"/>
    </type>

    <type name="Aheadworks\Ctq\Api\SellerQuoteManagementInterface">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Plugin\SellerQuoteManagementPlugin" />
    </type>

    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="awCaAddAdditionalField" type="Aheadworks\Ca\Plugin\Customer\Model\Customer\DataProviderWithDefaultAddressesPlugin"/>
    </type>

    <virtualType name="VirtualSalesOrderViewWidgetContext" type="Magento\Backend\Block\Widget\Context">
        <arguments>
            <argument name="toolbar" xsi:type="object">Aheadworks\Ca\Block\Adminhtml\Order\View\ButtonToolbar</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <arguments>
            <argument name="context" xsi:type="object">VirtualSalesOrderViewWidgetContext</argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Block\Adminhtml\Order\View\ButtonToolbar">
        <arguments>
            <argument name="restrictions" xsi:type="array">
                <item name="aw_ca_pending_approval" xsi:type="array">
                    <item name="buttons_to_show" xsi:type="array">
                        <item name="0" xsi:type="string">back</item>
                        <item name="1" xsi:type="string">aw_ca_approve</item>
                        <item name="2" xsi:type="string">aw_ca_reject</item>
                    </item>
                </item>
                <item name="aw_ca_rejected" xsi:type="array">
                    <item name="buttons_to_show" xsi:type="array">
                        <item name="0" xsi:type="string">back</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\SalesRepresentative\Block\Role\Edit\Tab\AdvancedPermissions">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="Aheadworks_Ca::companies" xsi:type="object">Aheadworks\Ca\Block\Role\Edit\Tab\AdvancedPermissions\CompanyAccess</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Ca\Model\Layout\Form\Customization\GeneralFieldsetFieldsProvider" type="Aheadworks\Ca\Model\Layout\Form\Customization\FieldsProvider">
        <arguments>
            <argument name="layout" xsi:type="string">aw_ca_company_ui_form</argument>
            <argument name="xpath" xsi:type="string"><![CDATA[//referenceContainer[@name="content"]/block[@name="aw.ca.company.form"]/arguments/argument[@name="jsLayout"]/item[@name="components"]/item[@name="awCaForm"]/item[@name="children"]/item[@name="general"]/item[@name="children"]]]></argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\GeneralFieldsetCustomization" type="Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\Customization">
        <arguments>
            <argument name="fieldsProvider" xsi:type="object">Aheadworks\Ca\Model\Layout\Form\Customization\GeneralFieldsetFieldsProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\Layout\Form\Customization\AddressFieldsetFieldsProvider" type="Aheadworks\Ca\Model\Layout\Form\Customization\FieldsProvider">
        <arguments>
            <argument name="layout" xsi:type="string">aw_ca_company_ui_form</argument>
            <argument name="xpath" xsi:type="string"><![CDATA[//referenceContainer[@name="content"]/block[@name="aw.ca.company.form"]/arguments/argument[@name="jsLayout"]/item[@name="components"]/item[@name="awCaForm"]/item[@name="children"]/item[@name="address"]/item[@name="children"]]]></argument>
            <argument name="fieldsToExclude" xsi:type="array">
                <item name="0" xsi:type="string">region</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\AddressFieldsetCustomization" type="Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\Customization">
        <arguments>
            <argument name="fieldsProvider" xsi:type="object">Aheadworks\Ca\Model\Layout\Form\Customization\AddressFieldsetFieldsProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\Layout\Form\Customization\AdministratorFieldsetFieldsProvider" type="Aheadworks\Ca\Model\Layout\Form\Customization\FieldsProvider">
        <arguments>
            <argument name="layout" xsi:type="string">aw_ca_company_ui_form</argument>
            <argument name="xpath" xsi:type="string"><![CDATA[//referenceContainer[@name="content"]/block[@name="aw.ca.company.form"]/arguments/argument[@name="jsLayout"]/item[@name="components"]/item[@name="awCaForm"]/item[@name="children"]/item[@name="administrator"]/item[@name="children"]]]></argument>
            <argument name="fieldsToExclude" xsi:type="array">
                <item name="0" xsi:type="string">dob</item>
                <item name="1" xsi:type="string">prefix</item>
                <item name="2" xsi:type="string">taxvat</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\AdministratorFieldsetCustomization" type="Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\Customization">
        <arguments>
            <argument name="fieldsProvider" xsi:type="object">Aheadworks\Ca\Model\Layout\Form\Customization\AdministratorFieldsetFieldsProvider</argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Ca\Controller\Company\DataProcessor">
        <arguments>
            <argument name="customerProcessors" xsi:type="array">
                <item name="newsletterProcessor" xsi:type="object">Aheadworks\Ca\Controller\Company\DataProcessor\Customer\NewsletterSubscriptionProcessor</item>
            </argument>
        </arguments>
    </type>

    <!-- Controller commands section -->
    <type name="Aheadworks\Ca\Controller\Adminhtml\Role\Save">
        <arguments>
            <argument name="saveCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Role\Save</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Controller\Adminhtml\Company\Domain\Save">
        <arguments>
            <argument name="saveCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\Domain\Save</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Controller\Adminhtml\Company\Domain\Delete">
        <arguments>
            <argument name="deleteCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\Domain\Delete</argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Model\Data\Command\Customer\CheckDomainAndAssignToCompany">
        <arguments>
            <argument name="skipUserApprovalCheck" xsi:type="boolean">true</argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Controller\Adminhtml\Company\MassUnassignCustomer">
        <arguments>
            <argument name="massActionCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\UnassignCustomer</argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Controller\Adminhtml\Company\Save">
        <arguments>
            <argument name="processSavingCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\ProcessSaving</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Controller\Adminhtml\Unit\Save">
        <arguments>
            <argument name="saveCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\Unit\Save</argument>
        </arguments>
    </type>
</config>
