<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aheadworks" translate="label" sortOrder="300">
            <label>Aheadworks Extensions</label>
        </tab>
        <section id="aw_ca" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Company Accounts</label>
            <tab>aheadworks</tab>
            <resource>Aheadworks_Ca::config_aw_ca</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_sales_representative" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Default Sales Representative</label>
                    <source_model>Aheadworks\Ca\Model\Source\Admin\User</source_model>
                    <frontend_model>Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\AdminUserSelector</frontend_model>
                </field>
                <field id="enabled_order_approval" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Enable Order Approval by Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_registration_for" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Enable Storefront Registration For</label>
                    <source_model>Aheadworks\Ca\Model\Source\Customer\RegistrationType</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="is_user_approved_automatically" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Approve Company Users Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set to No and newly registered users with specified company domain will need company approval</comment>
                </field>
                 <field id="head_unit_title" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1">
                    <label>Head Unit Title</label>
                    <comment>It is default unit title assigned to Parent Account</comment>
                </field>
                <field id="head_unit_description" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Head Unit Description</label>
                    <comment>It is default unit description assigned to Parent Account</comment>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email</label>
                <field id="sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="new_company_submitted_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company Submitted</label>
                    <comment>Email Recipient: Admin</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="new_company_approved_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company Approved</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_company_declined_template" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company Declined</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="company_status_changed_template" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Status Changed</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_company_user_created_template" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company User Created</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_pending_company_user_assigned_for_company_user_template" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Pending Company User Assigned, Send To Company User</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_pending_company_user_assigned_for_company_admin_template" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company User Assigned, Send To Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_company_user_assigned_for_company_admin_template" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Pending Company User Assigned, Send To Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_company_user_assigned_for_company_user_template" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company User Assigned, Send To Company User</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="domain_created_by_company_admin_template" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company Domain Created by Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Admin</comment>
                </field>
                <field id="domain_approved_by_backend_admin_template" translate="label comment" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Domain Approved by Sales Representative</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="domain_status_changed_by_backend_admin_template" translate="label comment" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Domain Status Changed by Sales Representative</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="domain_status_changed_by_company_admin_template" translate="label comment" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Domain Status Changed by Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Admin</comment>
                </field>
                <field id="domain_deleted_by_backend_admin_template" translate="label comment" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Domain Deleted by Sales Representative</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="domain_deleted_by_company_admin_template" translate="label comment" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Domain Deleted by Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Admin</comment>
                </field>
                <field id="order_was_sent_for_approval_template" translate="label comment" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order was Sent for Approval</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Admin</comment>
                </field>
                <field id="order_status_changed_template" translate="label comment" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status Changed</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="company_user_unassigned_for_company_admin_template" translate="label comment" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company User Unassigned From Company, Send To Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="company_user_unassigned_for_company_user_template" translate="label comment" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company User Unassigned From Company, Send To Company User</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_company_admin_assigned_for_company_admin_template" translate="label comment" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company Admin Assigned, Send To Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
                <field id="new_admin_change_request_by_company_admin_template" translate="label comment" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New Company Admin Change Request by Company Admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Admin</comment>
                </field>
                <field id="admin_change_request_declined_by_backend_admin_template" translate="label comment" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Admin Change Request Declined by Sales Representative</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email Recipient: Customer</comment>
                </field>
            </group>
            <group id="company_form_customization" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>New Company form Customization</label>
                <field id="fieldset_general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Information Customization</label>
                    <frontend_model>Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\GeneralFieldsetCustomization</frontend_model>
                    <backend_model>Aheadworks\Ca\Model\Config\Backend\Customization</backend_model>
                </field>
                <field id="fieldset_address" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Legal Address Customization</label>
                    <frontend_model>Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\AddressFieldsetCustomization</frontend_model>
                    <backend_model>Aheadworks\Ca\Model\Config\Backend\Customization</backend_model>
                </field>
                <field id="fieldset_administrator" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Administrator Customization</label>
                    <frontend_model>Aheadworks\Ca\Block\Adminhtml\System\Config\Form\Field\AdministratorFieldsetCustomization</frontend_model>
                    <backend_model>Aheadworks\Ca\Model\Config\Backend\Customization</backend_model>
                </field>
            </group>
            <group id="history_log" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>History Log</label>
                <field id="enabled_history_log" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Enable History Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="lifetime" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>History Log Lifetime, Days</label>
                    <validate>validate-zero-or-greater validate-digits</validate>
                </field>
                <field id="frequency_log_cleaning" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Frequency Of Log Cleaning</label>
                    <source_model>Aheadworks\Ca\Model\Source\HistoryLog\FrequencyLogCleaning</source_model>
                </field>
            </group>
        </section>
        <section id="msp_securitysuite_recaptcha">
            <group id="frontend">
                <field id="enabled_aw_ca_company_creation" translate="label comment" type="select" sortOrder="300" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Create Company</label>
                    <comment>Related to Company Accounts module by Aheadworks</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="recaptcha_frontend">
            <group id="type_for">
                <field id="aw_ca_company_creation" translate="label comment" type="select" sortOrder="300" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Use in Create Company</label>
                    <comment>Related to Company Accounts module by Aheadworks</comment>
                    <source_model>Aheadworks\Ca\Model\ThirdPartyModule\Magento\ReCaptcha\Model\OptionSource</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
