<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_ca>
            <general>
                <is_enabled>1</is_enabled>
                <enabled_order_approval>1</enabled_order_approval>
                <enabled_registration_for>customer,company</enabled_registration_for>
                <is_user_approved_automatically>1</is_user_approved_automatically>
                <head_unit_title>Head</head_unit_title>
                <head_unit_description>Head of Department</head_unit_description>
            </general>
            <email>
                <sender>general</sender>
                <new_company_approved_template>aw_ca_email_new_company_approved_template</new_company_approved_template>
                <new_company_submitted_template>aw_ca_email_new_company_submitted_template</new_company_submitted_template>
                <new_company_declined_template>aw_ca_email_new_company_declined_template</new_company_declined_template>
                <company_status_changed_template>aw_ca_email_company_status_changed_template</company_status_changed_template>
                <new_company_user_created_template>aw_ca_email_new_company_user_created_template</new_company_user_created_template>
                <new_pending_company_user_assigned_for_company_user_template>aw_ca_email_new_pending_company_user_assigned_for_company_user_template</new_pending_company_user_assigned_for_company_user_template>
                <new_pending_company_user_assigned_for_company_admin_template>aw_ca_email_new_pending_company_user_assigned_for_company_admin_template</new_pending_company_user_assigned_for_company_admin_template>
                <new_company_user_assigned_for_company_admin_template>aw_ca_email_new_company_user_assigned_for_company_admin_template</new_company_user_assigned_for_company_admin_template>
                <new_company_user_assigned_for_company_user_template>aw_ca_email_new_company_user_assigned_for_company_user_template</new_company_user_assigned_for_company_user_template>
                <domain_created_by_company_admin_template>aw_ca_email_domain_created_by_company_admin_template</domain_created_by_company_admin_template>
                <domain_approved_by_backend_admin_template>aw_ca_email_domain_approved_by_backend_admin_template</domain_approved_by_backend_admin_template>
                <domain_status_changed_by_backend_admin_template>aw_ca_email_domain_status_changed_by_backend_admin_template</domain_status_changed_by_backend_admin_template>
                <domain_status_changed_by_company_admin_template>aw_ca_email_domain_status_changed_by_company_admin_template</domain_status_changed_by_company_admin_template>
                <domain_deleted_by_backend_admin_template>aw_ca_email_domain_deleted_by_backend_admin_template</domain_deleted_by_backend_admin_template>
                <domain_deleted_by_company_admin_template>aw_ca_email_domain_deleted_by_company_admin_template</domain_deleted_by_company_admin_template>
                <order_was_sent_for_approval_template>aw_ca_email_order_was_sent_for_approval_template</order_was_sent_for_approval_template>
                <order_status_changed_template>aw_ca_email_order_status_changed_template</order_status_changed_template>
                <company_user_unassigned_for_company_admin_template>aw_ca_email_company_user_unassigned_for_company_admin_template</company_user_unassigned_for_company_admin_template>
                <company_user_unassigned_for_company_user_template>aw_ca_email_company_user_unassigned_for_company_user_template</company_user_unassigned_for_company_user_template>
                <new_company_admin_assigned_for_company_admin_template>aw_ca_email_new_company_admin_assigned_for_company_admin_template</new_company_admin_assigned_for_company_admin_template>
                <new_admin_change_request_by_company_admin_template>aw_ca_email_new_admin_change_request_by_company_admin_template</new_admin_change_request_by_company_admin_template>
                <admin_change_request_declined_by_backend_admin_template>aw_ca_email_admin_change_request_declined_by_backend_admin_template</admin_change_request_declined_by_backend_admin_template>
            </email>
        </aw_ca>
        <msp_securitysuite_recaptcha>
            <frontend>
                <enabled_aw_ca_company_creation>0</enabled_aw_ca_company_creation>
            </frontend>
        </msp_securitysuite_recaptcha>
    </default>
</config>
