<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="aw_rl_collection_load_before">
        <observer name="awCa" instance="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Observer\AttachListData" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="awCaAddAdditionalInfo" instance="Aheadworks\Ca\Observer\Customer\Model\Customer\SaveAfterObserver" />
    </event>
    <event name="model_save_after">
        <observer name="aw_ca_history_log_model" instance="Aheadworks\Ca\Observer\Model\ModelActionObserver" />
    </event>
    <event name="model_delete_after">
        <observer name="aw_ca_history_log_model" instance="Aheadworks\Ca\Observer\Model\ModelActionObserver" />
    </event>
    <event name="customer_address_save_commit_after">
        <observer name="aw_ca_customer_save_after_address" instance="Aheadworks\Ca\Observer\Customer\Model\Address\SaveAfterObserver" />
    </event>
    <event name="customer_address_delete_commit_after">
        <observer name="aw_ca_customer_address_delete_commit_after" instance="Aheadworks\Ca\Observer\Customer\Model\Address\DeleteAfterObserver" />
    </event>
</config>
