<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\ResourceModel\Order\CollectionFactoryInterface" type="Aheadworks\Ca\Model\ResourceModel\Order\CollectionFactory" />
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Controller\FrontActionPlugin" />
    </type>
    <type name="Magento\Framework\View\Element\Html\Link\Current">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Block\AccountLinkPlugin" />
    </type>
    <type name="Magento\Framework\Model\ActionValidator\RemoveAction">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\ActionValidator\RemoveActionPlugin" />
    </type>
    <type name="Magento\Customer\Model\AuthenticationInterface">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\Authentication\CustomerLoginPlugin" />
    </type>
    <type name="Aheadworks\Ctq\ViewModel\Customer\QuoteList">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Plugin\QuoteListPlugin" />
    </type>
    <type name="Aheadworks\Ctq\Api\BuyerPermissionManagementInterface">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Plugin\BuyerPermissionManagementPlugin" />
    </type>
    <type name="Aheadworks\Ctq\Api\BuyerQuoteManagementInterface">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Plugin\BuyerQuoteManagementPlugin" />
    </type>
    <type name="Aheadworks\Ctq\Api\CommentManagementInterface">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Plugin\CommentManagementPlugin" />
    </type>
    <type name="Aheadworks\Ctq\ViewModel\Checkout\RequestQuoteLink">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Plugin\RequestQuoteLinkPlugin" />
    </type>
    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="awCa_is_allowed_to_quote"
                type="Aheadworks\Ca\Plugin\App\Action\ContextPlugin" />
    </type>
    <type name="Magento\Sales\Controller\AbstractController\OrderViewAuthorization">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\Authentication\OrderViewAuthorizationPlugin" />
    </type>

    <type name="Aheadworks\CreditLimit\Block\Customer\BalanceHistory\Listing">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\CreditLimit\Plugin\Block\BalanceHistoryListingPlugin"/>
    </type>
    <type name="Aheadworks\CreditLimit\Block\Customer\TotalList">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\CreditLimit\Plugin\Block\TotalListPlugin"/>
    </type>

    <type name="Aheadworks\RequisitionLists\ViewModel\Customer\RequisitionList\DataProvider">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Plugin\Customer\RequisitionList\DataProviderPlugin"/>
    </type>
    <type name="Aheadworks\RequisitionLists\Ui\Component\RequisitionList\Item\Listing\Column\Name">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Plugin\Ui\Component\Listing\Column\NamePlugin"/>
    </type>
    <type name="Aheadworks\RequisitionLists\Ui\Component\RequisitionList\Item\Listing\MassAction\Option\AbstractOption">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Plugin\Ui\Component\Listing\MassActionPlugin" />
    </type>
    <type name="Aheadworks\RequisitionLists\CustomerData\RequisitionList">
        <plugin name="awCa" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Plugin\CustomerData\RequisitionListPlugin" />
    </type>
    <type name="Magento\Quote\Model\Cart\CustomerCartResolver">
        <plugin name="awCa" type="Aheadworks\Ca\Plugin\Model\Cart\CustomerCartResolverPlugin" />
    </type>

    <type name="MSP\ReCaptcha\Model\LayoutSettings">
        <plugin name="awCaMspLayoutSettings" type="Aheadworks\Ca\Plugin\Model\MspReCaptcha\LayoutSettingsPlugin" />
    </type>

    <type name="Magento\Customer\Model\Registration">
        <plugin name="awCaCustomerRegistrationPlugin" type="Aheadworks\Ca\Plugin\Model\Customer\RegistrationPlugin" />
    </type>

    <type name="Aheadworks\Sarp2\Block\Customer\Subscription">
        <plugin name="add_updateted_by_value_to_profile" type="Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Sarp2\Plugin\Block\Customer\SubscriptionPlugin"/>
    </type>

    <type name="Aheadworks\Ca\Ui\DataProvider\Company\Form\Modifier\Administrator">
        <arguments>
            <argument name="additionalFields" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="name" xsi:type="string">dob</item>
                </item>
                <item name="1" xsi:type="array">
                    <item name="name" xsi:type="string">prefix</item>
                </item>
                <item name="2" xsi:type="array">
                    <item name="name" xsi:type="string">taxvat</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Ui\DataProvider\CompanyUser\Form\Modifier\ExtensionAttributes">
        <arguments>
            <argument name="additionalFields" xsi:type="array">
                <item name="0" xsi:type="array">
                    <item name="name" xsi:type="string">dob</item>
                </item>
                <item name="1" xsi:type="array">
                    <item name="name" xsi:type="string">prefix</item>
                </item>
                <item name="2" xsi:type="array">
                    <item name="name" xsi:type="string">taxvat</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ctq\Model\Quote\Permission\Checker">
        <arguments>
            <argument name="checkers" xsi:type="array">
                <item name="byCompany" xsi:type="object">Aheadworks\Ca\Model\Quote\Permission\Checker\Company</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Controller\AbstractController\OrderViewAuthorization">
        <arguments>
            <argument name="customerSession" xsi:type="object">Aheadworks\Ca\Model\ThirdPartyModule\Magento\Sales\Model\OrderViewSession</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ctq\Controller\BuyerAction">
        <arguments>
            <argument name="customerSession" xsi:type="object">Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\Ctq\Model\QuoteCustomerSession</argument>
        </arguments>
    </type>
    <type name="Aheadworks\RequisitionLists\Controller\RList\AbstractRequisitionListAction">
        <arguments>
            <argument name="customerSession" xsi:type="object">Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Model\ListCustomerSession</argument>
        </arguments>
    </type>
    <type name="Aheadworks\RequisitionLists\Controller\RList\AbstractUpdateItemAction">
        <arguments>
            <argument name="customerSession" xsi:type="object">Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Model\ListCustomerSession</argument>
        </arguments>
    </type>
    <type name="Aheadworks\RequisitionLists\Ui\DataProvider\RequisitionList\Item\ListingDataProvider">
        <arguments>
            <argument name="customerSession" xsi:type="object">Aheadworks\Ca\Model\ThirdPartyModule\Aheadworks\RequisitionLists\Model\ListCustomerSession</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Model\Company\Address\EntityProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="region" xsi:type="object">Aheadworks\Ca\Model\Company\Address\EntityProcessor\Region</item>
                <item name="street" xsi:type="object">Aheadworks\Ca\Model\Company\Address\EntityProcessor\Street</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Ca\ViewModel\Company\Domain\Form" type="Aheadworks\Ca\ViewModel\Form">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Aheadworks\Ca\Ui\DataProvider\Company\Domain\FormDataProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Company\Domain\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="modifiersPool" xsi:type="object">Aheadworks\Ca\Ui\DataProvider\Company\Domain\Form\Modifier\Pool</argument>
            <argument name="collectionFactory" xsi:type="string">Aheadworks\Ca\Model\ResourceModel\Company\Domain\CollectionFactory</argument>
            <argument name="name" xsi:type="string">awCaDomainProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Company\Domain\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="company" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Ca\Ui\DataProvider\Company\Domain\Form\Modifier\Company</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Ca\ViewModel\Role\Form" type="Aheadworks\Ca\ViewModel\Form">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Aheadworks\Ca\Ui\DataProvider\Role\FormDataProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\ViewModel\Unit\Form" type="Aheadworks\Ca\ViewModel\Form">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Aheadworks\Ca\Ui\DataProvider\Unit\FormDataProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Role\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">awCaRoleProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Unit\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">awCaUnitProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\ViewModel\CompanyUser\Form" type="Aheadworks\Ca\ViewModel\Form">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Aheadworks\Ca\Ui\DataProvider\CompanyUser\FormDataProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\CompanyUser\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">awCaUserProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">entity_id</argument>
            <argument name="requestFieldName" xsi:type="string">entity_id</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Ca\ViewModel\Company\Form" type="Aheadworks\Ca\ViewModel\Form">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Aheadworks\Ca\Ui\DataProvider\Company\FormDataProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Ui\DataProvider\Company\FormDataProvider" type="Aheadworks\Ca\Ui\DataProvider\FormDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">awCaCompanyProvider</argument>
            <argument name="primaryFieldName" xsi:type="string">id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Ca\Ui\Component\Listing\Company\Domain\Listing" type="Aheadworks\Ca\Ui\Component\Listing\ListingModifier">
        <arguments>
            <argument name="componentNamesToModify" xsi:type="array">
                <item name="name" xsi:type="array">
                    <item name="component" xsi:type="string">Magento_Ui/js/grid/columns/column</item>
                    <item name="bodyTmpl" xsi:type="string">Aheadworks_UiComponents/grid/cells/text</item>
                    <item name="modalDataProvider" xsi:type="string">awCaDomainProvider</item>
                    <item name="modalComponent" xsi:type="string">aw_ca_domain_management.domain_configuration_modal</item>
                </item>
                <item name="actions" xsi:type="array">
                    <item name="adminType" xsi:type="string">frontend</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\Ca\Ui\Component\Listing\Company\Admin\CustomerListing" type="Aheadworks\Ca\Ui\Component\Listing\ListingModifier">
        <arguments>
            <argument name="componentNamesToModify" xsi:type="array">
                <item name="fulltext" xsi:type="array">
                    <item name="componentDisabled" xsi:type="boolean">true</item>
                </item>
                <item name="actions" xsi:type="array">
                    <item name="componentDisabled" xsi:type="boolean">true</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\Ca\Controller\Company\Domain\Save">
        <arguments>
            <argument name="saveCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\Domain\Save</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Controller\Unit\Save">
        <arguments>
            <argument name="saveCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\Unit\Save</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ca\Controller\Company\Domain\Delete">
        <arguments>
            <argument name="deleteCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Company\Domain\Delete</argument>
        </arguments>
    </type>

    <!-- Create Company Captcha -->
    <virtualType name="Aheadworks\Ca\Model\ThirdPartyModule\Msp\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\AwCaCompanyCreate"
                 type="MSP\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">msp_securitysuite_recaptcha/frontend/enabled_aw_ca_company_creation</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\ThirdPartyModule\Msp\ReCaptcha\Model\Provider\Failure\AwCaCompanyCreate"
                 type="MSP\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Failure\RedirectUrl\CreateUser</argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\Ca\Model\ThirdPartyModule\Msp\ReCaptcha\Observer\Frontend\CreateAwCaCompanyObserver"
                 type="MSP\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Aheadworks\Ca\Model\ThirdPartyModule\Msp\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\AwCaCompanyCreate</argument>
            <argument name="responseProvider"
                      xsi:type="object">MSP\ReCaptcha\Model\Provider\Response\DefaultResponseProvider</argument>
            <argument name="failureProvider"
                      xsi:type="object">Aheadworks\Ca\Model\ThirdPartyModule\Msp\ReCaptcha\Model\Provider\Failure\AwCaCompanyCreate</argument>
        </arguments>
    </virtualType>

    <!-- Controller commands section -->
    <type name="Aheadworks\Ca\Controller\Role\SavePost">
        <arguments>
            <argument name="saveCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\Role\Save</argument>
        </arguments>
    </type>
    <!-- <type name="Aheadworks\Ca\Controller\User\ChangeStatus">
        <arguments>
            <argument name="changeStatusCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\User\UserCommandPool</argument>
        </arguments>
    </type> -->
    <!-- <type name="Aheadworks\Ca\Model\Data\Command\User\UserCommandPool" >
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="changeStatusCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\User\ChangeStatus</item>
                <item name="unAssignUnit" xsi:type="object">Aheadworks\Ca\Model\Data\Command\User\ChangeStatus</item>
            </argument>
        </arguments>
    </type> -->

    <type name="Aheadworks\Ca\Model\Data\Command\User\UserCommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="changeStatusCommand" xsi:type="object">Aheadworks\Ca\Model\Data\Command\User\ChangeStatus</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="aw_ca_checkout_config_provider" xsi:type="object">Aheadworks\Ca\Model\Checkout\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\Ca\Ui\Component\Listing\Order\Column\ActionProvider">
        <arguments>
            <argument name="actionProviders" xsi:type="array">
                <item name="view" xsi:type="array">
                    <item name="class" xsi:type="object">Aheadworks\Ca\Ui\Component\Listing\Order\Column\ActionsType\View</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                    <item name="actionName" xsi:type="string">view</item>
                </item>
                <item name="order" xsi:type="array">
                    <item name="class" xsi:type="object">Aheadworks\Ca\Ui\Component\Listing\Order\Column\ActionsType\Reorder</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                    <item name="actionName" xsi:type="string">order</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Import section start -->
    <virtualType name="Aheadworks\Ca\Model\Import\User\VirtualCompositeValidator" type="Aheadworks\Ca\Model\Import\ValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="integrityValidator" xsi:type="object">Aheadworks\Ca\Model\Import\User\Validator\IntegrityValidator</item>
                <item name="roleValidator" xsi:type="object">Aheadworks\Ca\Model\Import\User\Validator\RoleValidator</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Aheadworks\Ca\Model\Import\User\Validator">
        <arguments>
            <argument name="validator" xsi:type="object">Aheadworks\Ca\Model\Import\User\VirtualCompositeValidator</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="awCaImportErrorMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Aheadworks_Ca::messages/import-error-message.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Import section end -->
</config>
