<div class="admin__action-dropdown-wrap admin__data-grid-action-import" collapsible>
    <button class="admin__action-dropdown" type="button" toggleCollapsible>
        <span class="admin__action-dropdown-text" translate="'Import'"></span>
    </button>
    <div class="admin__action-dropdown-menu admin__data-grid-action-import-menu">
        <each args="data: getRegion('importForm'), as: 'element'">
            <render if="hasTemplate()"></render>
        </each>
        <div class="admin__action-dropdown-footer-main-actions">
            <button class="action-secondary" type="button" translate="'Import'" click="applyOption" data-bind="attr: {'disabled': disable()}"></button>
        </div>
    </div>
</div>
