<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Aheadworks\Ctq\ViewModel\Customer\Quote\Comment">
        <arguments>
            <argument name="area" xsi:type="const">Magento\Framework\App\Area::AREA_ADMINHTML</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ctq\Block\Adminhtml\Quote\Edit\CustomerAccount">
        <arguments>
            <argument name="sessionQuote" xsi:type="object">Aheadworks\Ctq\Model\Quote\Admin\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ctq\Block\Adminhtml\Quote\Edit\Shipping\Address">
        <arguments>
            <argument name="sessionQuote" xsi:type="object">Aheadworks\Ctq\Model\Quote\Admin\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ctq\Block\Adminhtml\Quote\Edit\Totals\DefaultTotals">
        <arguments>
            <argument name="sessionQuote" xsi:type="object">Aheadworks\Ctq\Model\Quote\Admin\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Totals\Subtotal">
        <arguments>
            <argument name="sessionQuote" xsi:type="object">Aheadworks\Ctq\Model\Quote\Admin\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Totals\Grandtotal">
        <arguments>
            <argument name="sessionQuote" xsi:type="object">Aheadworks\Ctq\Model\Quote\Admin\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Totals\Shipping">
        <arguments>
            <argument name="sessionQuote" xsi:type="object">Aheadworks\Ctq\Model\Quote\Admin\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Totals\Tax">
        <arguments>
            <argument name="sessionQuote" xsi:type="object">Aheadworks\Ctq\Model\Quote\Admin\Session\Quote</argument>
        </arguments>
    </type>
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="aw_ctq_quote_listing" xsi:type="array">
                    <item name="created_at" xsi:type="string">created_at</item>
                    <item name="last_updated_at" xsi:type="string">last_updated_at</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\Ctq\Model\Email\Product\ConfigurationPool"
                 type="Magento\Catalog\Helper\Product\ConfigurationPool">
        <arguments>
            <argument name="instancesByType" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Catalog\Helper\Product\Configuration</item>
                <item name="bundle" xsi:type="object">Magento\Bundle\Helper\Catalog\Product\Configuration</item>
                <item name="downloadable" xsi:type="object">Magento\Downloadable\Helper\Catalog\Product\Configuration</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Controller commands section -->
    <type name="Aheadworks\Ctq\Controller\Adminhtml\Quote\AddComment">
        <arguments>
            <argument name="addCommentCommand" xsi:type="object">Aheadworks\Ctq\Model\Data\Command\Quote\AddComment</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ctq\Controller\Adminhtml\Quote\Download">
        <arguments>
            <argument name="downloadCommand" xsi:type="object">Aheadworks\Ctq\Model\Data\Command\Quote\Download</argument>
        </arguments>
    </type>
    <type name="Aheadworks\Ctq\Controller\Adminhtml\Quote\Save">
        <arguments>
            <argument name="saveBackendQuote" xsi:type="object">Aheadworks\Ctq\Model\Data\Command\Quote\Save\BackendQuote</argument>
        </arguments>
    </type>

    <type name="Magento\PageBuilder\Model\Stage\Preview">
        <plugin name="awCtq" type="Aheadworks\Ctq\Plugin\Model\PageBuilder\Stage\PreviewPlugin" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="awCtq"
                type="Aheadworks\Ctq\Plugin\Model\Quote\AddressPlugin"/>
    </type>
    <type name="Aheadworks\Ctq\ViewModel\Quote\Edit\ShippingRender">
        <arguments>
            <argument name="customRate" xsi:type="array">
                <item name="aw_ctq_custom" xsi:type="string">Aheadworks_Ctq::quote/edit/form/custom_shipping_rate.phtml</item>
                <item name="aw_ctq_custom_active" xsi:type="string">Aheadworks_Ctq::quote/edit/form/custom_active_shipping_rate.phtml</item>
            </argument>
            <argument name="nativeRate" xsi:type="array">
                <item name="native" xsi:type="string">Aheadworks_Ctq::quote/edit/form/native_shipping_rate.phtml</item>
                <item name="native_active" xsi:type="string">Aheadworks_Ctq::quote/edit/form/native_active_shipping_rate.phtml</item>
            </argument>
        </arguments>
    </type>
</config>
