<!--@subject {{trans 'Updated Quote %quote_name' quote_name=$quote.getName()}}@-->
{{template config_path="design/email/header_template"}}

<p>
    {{trans 'Dear %user_name,' user_name=$user_name}}<br />
    {{trans
        'The Quote <a href="%quote_url">%quote_name</a> has been updated. Please, see below.'
        quote_url=$quote_url quote_name=$quote.getName()
    |raw}}
</p>
{{layout handle="aw_ctq_email_quote_changes" history_id=$history_id is_email_for_seller=$is_seller store_id=$store_id area="frontend"}}

{{layout handle="aw_ctq_email_quote_details" quote_id=$quote_id store_id=$store_id area="frontend"}}

{{template config_path="design/email/footer_template"}}
