<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Data Processor -->
    <virtualType name="Aheadworks\CtqGraphQl\Model\DataProcessor\Quote\History" type="Aheadworks\CtqGraphQl\Model\DataProcessor\CompositeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="actions" xsi:type="object">Aheadworks\CtqGraphQl\Model\DataProcessor\Quote\History\Actions</item>
                <item name="status" xsi:type="object">Aheadworks\CtqGraphQl\Model\DataProcessor\Quote\History\Status</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Processors Pool -->
    <type name="Aheadworks\CtqGraphQl\Model\DataProcessor\Pool">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="Aheadworks\Ctq\Api\Data\HistoryInterface" xsi:type="object">Aheadworks\CtqGraphQl\Model\DataProcessor\Quote\History</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\CtqGraphQl\Model\Resolver\Quote\CartItems">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="id" xsi:type="string">item_id</item>
                <item name="sku" xsi:type="string">sku</item>
                <item name="name" xsi:type="string">name</item>
                <item name="qty" xsi:type="string">qty</item>
                <item name="price" xsi:type="string">price</item>
                <item name="comment" xsi:type="string">aw_ctq_item_comment</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\CtqGraphQl\Model\Resolver\Mutation\Cart\AddCommentToCartItem">
        <arguments>
            <argument name="fields" xsi:type="array">
                <item name="id" xsi:type="string">item_id</item>
                <item name="sku" xsi:type="string">sku</item>
                <item name="name" xsi:type="string">name</item>
                <item name="qty" xsi:type="string">qty</item>
                <item name="price" xsi:type="string">price</item>
                <item name="comment" xsi:type="string">aw_ctq_item_comment</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Cart\GetCartForUser">
        <plugin name="awCtqGraphQl"
                type="Aheadworks\CtqGraphQl\Plugin\ExecutePlugin"/>
    </type>
</config>
