//
//  Action Columns
//  _____________________________________________

//
//  Variables
//  ---------------------------------------------

@data-grid-action-columns-menu__padding-horizontal: 3.5rem;
@data-grid-action-columns-menu-item__column: 3;
@data-grid-action-columns-menu-item__margin-bottom: 1.5rem;
@data-grid-action-columns-menu-item__width: 15.8rem;
@data-grid-action-columns-menu-item__height: round((@font-size__base * @line-height__base), 1);
@data-grid-action-columns-menu-items-to-scroll: 18;
@data-grid-action-columns-menu-scroll__width: 1.8rem;

.aw-ui-listing {
    .admin__data-grid-action-columns {
        &._active {
            opacity: @component-modal__opacity;
            z-index: 290;
        }
    }

    .admin__data-grid-action-columns-menu {
        color: #303030;
        font-size: 1.3rem;
        overflow: hidden;
        padding: 2.2rem 3.5rem 1rem;
        z-index: 1;

        //  State with scroll when .admin__field-option > @data-grid-action-columns-menu-items-to-scroll
        &._overflow {
            .admin__action-dropdown-menu-header {
                border-bottom: 1px solid #d1d1d1;
            }

            .admin__action-dropdown-menu-content {
                max-width: 50.4rem;
            }

            .admin__action-dropdown-menu-footer {
                border-top: 1px solid #d1d1d1;
                padding-top: 2.5rem;
            }
        }

        .admin__action-dropdown-menu-content {
            &:extend(.abs-clearfix all);
            max-height: (@data-grid-action-columns-menu-items-to-scroll / @data-grid-action-columns-menu-item__column) * (@data-grid-action-columns-menu-item__height + @data-grid-action-columns-menu-item__margin-bottom) + (@data-grid-action-columns-menu-item__height / 2 + @data-grid-action-columns-menu-item__margin-bottom);
            overflow-y: auto;
            padding-top: 1.5rem;
            position: relative;
            @media (max-width: 450px) {
                width: (@data-grid-action-columns-menu-item__width + @data-grid-action-columns-menu-item__margin-bottom);
            }

            @media (min-width: 450px) and (max-width: 620px) {
                width: (@data-grid-action-columns-menu-item__width + @data-grid-action-columns-menu-item__margin-bottom) * 2;
            }
            width: (@data-grid-action-columns-menu-item__width + @data-grid-action-columns-menu-item__margin-bottom) * 3
        }

        .admin__field-option {
            float: left;
            height: @data-grid-action-columns-menu-item__height;
            margin-bottom: @data-grid-action-columns-menu-item__margin-bottom;
            padding: 0 1rem 0 0;
            width: @data-grid-action-columns-menu-item__width;
            display: flex;
        }

        .admin__field-label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            padding-top: 4px;
        }

        .admin__action-dropdown-menu-header {
            padding-bottom: 1.5rem;
        }

        .admin__action-dropdown-menu-footer {
            padding: 1rem 0 2rem;
        }

        .admin__action-dropdown-footer-main-actions {
            margin-left: 25%;
            text-align: right;
        }

        .admin__action-dropdown-footer-secondary-actions {
            float: left;
            margin-left: -1em;
        }
    }
}
