<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Aheadworks\RequisitionListsGraphQl\Model\Data\DataProcessorInterface" type="Aheadworks\RequisitionListsGraphQl\Model\Data\CompositeProcessor" />

    <virtualType name="Aheadworks\RequisitionListsGraphQl\Model\GraphQlData\CompositeProcessor"
                 type="Aheadworks\RequisitionListsGraphQl\Model\Data\CompositeProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="bundle" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\Data\Processor\Bundle</item>
                <item name="grouped" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\Data\Processor\Grouped</item>
                <item name="configurable" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\Data\Processor\Configurable</item>
                <item name="custom_options" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\Data\Processor\CustomOptions</item>
                <item name="downloadable" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\Data\Processor\Downloadable</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Aheadworks\RequisitionListsGraphQl\Model\Resolver\List"
                 type="Aheadworks\RequisitionListsGraphQl\Model\Resolver\AbstractEntityListResolver">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\DataProveder\RequisitionList</argument>
            <argument name="argsModifier" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\Resolver\Argument\Modifier\CustomerId</argument>
        </arguments>
    </virtualType>

    <type name="Aheadworks\RequisitionListsGraphQl\Model\Resolver\Mutation\List\Item\AddItem">
        <arguments>
            <argument name="prepareDataProcessor" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\GraphQlData\CompositeProcessor</argument>
        </arguments>
    </type>

    <type name="Aheadworks\RequisitionListsGraphQl\Model\Resolver\Mutation\List\Item\UpdateItemOptions">
        <arguments>
            <argument name="prepareDataProcessor" xsi:type="object">Aheadworks\RequisitionListsGraphQl\Model\GraphQlData\CompositeProcessor</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <!-- list query names -->
                <item name="awReqListGetList" xsi:type="object">
                    Aheadworks\RequisitionListsGraphQl\Model\Resolver\Argument\Filter\ReqListEntityAttributes
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Aheadworks\RequisitionListsGraphQl\Model\Resolver\Argument\Filter\ReqListEntityAttributes">
        <arguments>
            <argument name="entityElementName" xsi:type="string">awReqListFilterInput</argument>
        </arguments>
    </type>
</config>
